body {
    margin: 0px;
    font-family: calibri;
    letter-spacing: 1.1px;
    width: 100%;
    background-color: black;
}
#hr {
border-bottom: 0.5px solid;
border-top: none;
border-left: none;
border-right: none;
text-align: left;
margin-left: 0px;
width: 85%;
color: black;
}
#header {
    text-align: left;
    padding: 3vh;
    background-color: gray;
    color: whitesmoke;
}
#header_text {
    position: relative;

}
#header_menu {
    position: absolute;
    right: 3vh;
    top: 6vh;

}
#p01 {
    font-size: 14px;
    font-weight: lighter;
    line-height: 30%;
    margin-bottom: 4px;
}
#p02 {
    font-size: 16px;
    font-weight: bolder;
    line-height: 30%;
    margin-bottom: 12px;
}
#p03 {
    font-size: 9px;
}
#menu {
    width: 32px;
    height: 32px;
}
#dropdown_list {
position: absolute;
right: -55.9%;
width: 170px;
text-align: left;
background-color: whitesmoke;
list-style-type: none;
padding: 1vh;
}
.link_decoration {
    text-decoration: none;
    color: black;
}
.link_decoration.active {
    color: red;
}

#main {
    height: 100%;
    padding: 1vh;
}

#footer {
    position: relative;
    background-color: gray;
    color: whitesmoke;
    font-size: 11px;
    text-orientation: center;
    padding: 3vh;
}

/* =================================================================== */
/* Find below the CSS of linked Components in the <main> of App.js
--> Home, Projects, CV, Skills, About Me */

/*=====================================================================*/
/* HOME */
#Home {
    display: flex;
    flex-direction: row;
    color:whitesmoke;

}
#Bewerbungsfoto {
    width: 200px;
    height: auto;
    border-radius: 50%;
}
#Key_Skills {
    margin-left: 15px;
    text-decoration: underline;
}
#home_list {
    list-style-type: none;
    padding-inline-start: 18px;
}
/*=====================================================================*/
/* LEBENSLAUF */
#CV {
    margin: 3% 5%;
    padding: 1vh;
    border: solid;
    border-radius: 10px;
    color: whitesmoke;
}
dt {
    font-weight: bold;
}
/*=====================================================================*/
/* SKILLS */
#Skills {
    color: whitesmoke;
}
/*=====================================================================*/
/* PROJECT */
#Projects {
    color: whitesmoke;
}
/*=====================================================================*/
/* ABOUT ME */
#AboutMe {
    color: whitesmoke;
}