body {
    margin: 0px;
}
#header {
    text-align: center;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 4vh;
    background-color: gray;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
#header_text {
    position: relative;
}
#header_menu {
    position: absolute;
    right: 3vh;
    top: 6vh;

}
#span01 {
    font-size: 28px;
}
#span02 {
    font-size: 11px;
}
#menu {
    width: 32px;
    height: 32px;
}
#dropdown_list {
position: absolute;
right: -62.5%;
width: 150px;
text-align: left;
background-color: black;
list-style-type: none;
padding: 1vh;
}
.link_decoration {
    text-decoration: none;
    color: whitesmoke;
}

#main {
    height: auto;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 10vh;
    background-color: gray;
    color: whitesmoke;
    font-size: 11px;
    display: flex;
    align-items: center;
    padding-left: 1vh;
    padding-right: 1vh;
}

/* =================================================================== */
/* Find below the CSS of linked Components in the <main> of App.js
--> Home, Projects, CV, Skills, About Me */

#CV {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    border: solid;
    border-radius: 10px;
}
#AboutMe {
    text-align: center;
    margin-top: 10vh;
    color: black;
}